@font-face {
    font-family: Abel-Regular;
    src: url('../fonts/Abel-Regular.ttf');
}

@font-face {
    font-family: AdventPro-Thin;
    src: url('../fonts/AdventPro-SemiBold.ttf');
}


/* Navbar Color */

.navbar {
    background-color: #2d3c49;
}


/* Body Background Color */

body {
    background-color: #c1cbcf;
}


/* Changing Navbar's item's Colors */

#header a {
    color: #7d97ad;
}

#header a:hover {
    color: #ffffff;
}

#header h3 {
    color: #ffffff;
}


/* Background Image */

#bg-img {
    background: url('../img/bg-img2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 600px;
}


/* Box Shadow For About Me Image */

#about-me img {
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.54);
}


/* Changing About Me h3 font */

#about-me h3 {
    font-family: Abel-Regular;
}

#about-me table {
    align-content: center;
}


/* Ajusting About Me Card to be responsive with different devices */

@media screen and (max-width:450px) {
    #about-me td {
        font-size: 14px;
    }
}

@media screen and (max-width:400px) {
    #about-me td {
        font-size: 12px;
    }
}

@media screen and (max-width:385px) {
    #about-me td {
        font-size: 10px;
    }
    #about-me h3 {
        font-size: 18px;
    }
    #about-me img {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:992px) {
    #about-me img {
        display: none;
    }
}

#about-me {
    margin-top: -450px;
}

@media screen and (max-width:767px) {
    #about-me {
        margin-top: 100px;
    }
    #bg-img {
        display: none;
    }
}


/* Setting Slider Box Shadow */

#slider {
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.54);
}


/* Changing h1 Properties */

body h1 {
    color: #2d3c49;
    font-family: Abel-Regular;
    font-size: 50px;
}


/* Updating Slider Style */

#slider a {
    background-color: #2d3c49;
    opacity: 0.8;
    height: 15%;
    width: 10%;
    margin-top: 25%;
}

#slider a:hover {
    opacity: 1;
}

.slide-label {
    background-color: #2d3c49;
    opacity: 0.8;
}

body h5 {
    font-family: AdventPro-Thin;
}

#skills h3 {
    margin: 5px;
}

#footer {
    background-color: #02b3e4;
}